<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Chatbot Touristique du Maroc</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="chat-container">
        <h2>💬 Assistant Touristique du Maroc</h2>
        <div id="chat-box">
            <!-- Les messages seront ajoutés ici -->
        </div>

        <div class="input-group">
            <div class="div1">
                <input type="text" id="user-input" placeholder="Écrire un message...">
                <button id="mic-button">
                🎤
                </button>
            </div>

            <div class="button-group">
                <button id="send-button">Envoyer</button>
                <button id="audioButton">🔊</button>
                <button id="mic-button">
                    🎤
                </button>
                


                <button id="map-button">🗺️</button>
            </div>
        </div>

        <button id="scroll-button">↓</button>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>